<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mapper.LicenseMapper">
    <select id="findByOrganizationId" resultMap="license">
        select * from licenses where organization_id = #{organizationId}
    </select>
    <select id="findByOrganizationIdAndLicenseId" resultMap="license">
        select * from licenses where license_id = #{licenseId} and organization_id = #{organizationId}
    </select>
    <select id="findAll" resultMap="license">
        select * from licenses
    </select>
    <!--    忘记映射是多么可怕-->
    <resultMap id="license" type="com.echo.pojo.License">
        <result property="licenseId" column="license_id"/>
        <result property="productName" column="product_name"/>
        <result property="licenseType" column="license_type"/>
        <result property="organizationId" column="organization_id"/>
    </resultMap>
</mapper>